.header {
	background-color: transparent;
	position: absolute;
	width: 100%;
	height: 100px;
	left: 0;
	top: 0;
	&__row {
		display: flex;
		min-height: 100px;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	}

	&__logo {
	}

	&__burger {
		display: none;
	}

	&__body {
	}

	&__menu {
	}

	&__list {
		display: flex;
		li {
			margin: 0px 30px;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__link {
		font-size: 13px;
		color: rgba(255, 255, 255, 0.75);
		text-transform: uppercase;
		font-weight: 700;
		transition: color 0.3s linear;
		&:hover {
			color: #fff;
		}
	}
}

.burgeg-menu {
}
